@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,700&display=swap");

:root {
  --maincolor: #379267;
  --background-color: rgb(4, 109, 91);
  --black: #000;
  --white: #fff;
  --lightgrey: #9b9b9b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 20%;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

nav {
  width: 100%;
  background-color: rgb(155, 155, 155, 0.4);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 8rem;
  width: 90%;
  max-width: 172rem;
  margin: 0 auto;
  width: max(40rem, 100%);
}

.navbar__logo {
  color: var(--black);
  justify-self: start;
  margin-left: 30%;
  cursor: pointer;
  font-size: 3rem;
}

.nav__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  width: max(40rem, 60%);
}

.nav__links {
  color: var(--maincolor);
  text-decoration: none;
  font-size: 2rem;
  order: 4;
}
.nav__links:hover {
  color: var(--white);
  transition: all 0.2s ease-out;
}

.nav__links--donateBtn {
  background-color: var(--maincolor);
  color: var(--white);
  padding: 0.6rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 2.4rem;
}

.nav__links--donateBtn:hover {
  background-color: transparent;
  color: var(--maincolor);
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--maincolor);
  transition: all 0.3s ease-out;
}

.menu__toggle .bar {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(155, 155, 155, 0.4);
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
    width: max(40rem, 100%);
  }

  .nav__menu {
    display: grid;
    grid-template-columns: auto;
    background: rgb(155, 155, 155, 0.4);
    margin: 0;
    width: max(40rem, 100%);
    position: absolute;
    top: 8rem;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 2;
  }

  .navbar__logo {
    margin-left: 2rem;
  }

  .nav__menu.active {
    background: rgb(155, 155, 155, 0.4);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav__links {
    background-color: rgb(155, 155, 155, 0.4);
    text-align: center;
    line-height: 6rem;
    width: 100%;
    display: table;
    z-index: 2;
  }

  .nav__links:hover {
    background: var(--maincolor);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }
  .nav__links--donateBtn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--maincolor);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .nav__links--donateBtn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--white);
    color: var(--maincolor);
    border: 0.2rem solid var(--maincolor);
  }

  #mobile__menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu__toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu__toggle:hover {
    cursor: pointer;
  }

  #mobile__menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }

  #mobile__menu.is-active .bar:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
}
