.contact-banner {
  background-image: linear-gradient(
    to right,
    rgb(0, 114, 66) 0%,
    rgb(4, 109, 91) 100%
  );
  color: white;
  padding: 40px;
  text-align: center;
  width: max(40rem, 100%);
}

.contact-banner :is(h1) {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.contact-banner :is(p) {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.contact__form {
  width: max(40rem, 60%);
  margin: 4rem auto;
}

.contact__description {
  margin-bottom: 40px;
}

.contact__input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(0, 114, 66);
  font-size: 18px;
  outline: none;
  color: #333;
}

.form__control {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact__label {
  font-size: 2.4rem;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  display: none;
}

.show {
  display: block;
}

.contact__label {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

textarea {
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  height: 20rem;
  font-size: 18px;
}

.submit__contact {
  display: flex;
  padding: 2rem 4rem;
  border: 1px solid rgb(0, 114, 66);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  color: rgb(0, 114, 66);
  margin: auto;
  align-items: center;
}

button:hover {
  background-image: linear-gradient(
    to right,
    rgb(0, 114, 66) 0%,
    rgb(4, 109, 91) 100%
  );
  color: white;
}
