@media screen and (max-width: 480px) {
  .header__title {
    font-size: 4rem;
  }

  .header__animated--text {
    font-size: 1.3rem;
    width: 65%;
  }

  .header__description {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }
  .header__homepage {
    background-position-x: 75%;
  }

  .footer__container {
    width: 100%;
  }
}
